.list-heading{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 10px 3px 10px 20px;
}
.list-heading p{
    font-weight: 500;
    font-size: 14px;
    padding: 0px 0px;
    line-height: 5px;
    margin-bottom: 5px;
    color: #8C8C9D;
}
.list-heading span{
    color: #262626;
}
.list-heading h2{
    font-weight: 500;
    font-size: 20px;
}
.card{
    width: 1150px;
    margin: 10px 20px;
    border: 1px solid #E6EBF1;
}
.table-div{
    width: 100%;
    height: auto;
    overflow: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #0d6efd;
    border-radius: 10px;
}
table thead{
    width: 100%;
    height: 60px;
    background-color: #E6EBF1;
}
table thead th{
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 2px;
    text-align: center;
}
table,tbody{
    width: 100%;
}
table tbody td{
    font-weight: 300;
    font-size: 12px;
    height: 46px;
    padding: 2px 2px;
    text-align: center;
    border-bottom: 1px solid #E6EBF1;
}
.filter-div{
    display: flex;
    margin: 10px 10px 0px 10px;
    justify-content: space-between;
    align-items: center;
}
.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.filter-option{
    border: 1px solid #8C8C9D;
    text-align: center;
    width: 76px;
    height: 30px;
    padding: 5px 5px;
    margin-right: 15px;
}
.filter-option p{
    font-size: 12px;
    font-weight: 300;
}
.filter-option span{
    margin-left: 15px;
}
.filter .add-new-btn{
    width: 113px;
    height: 30px;
    padding: 2px 6px;
    background-color: #0d6efd;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.filter .add-new-btn i{
    margin-right: 3px;
}
.filter .add-new-btn span{
    font-weight: 600;
    font-size: 10px;
    margin: 5px 0px;
}   
.search-filter{
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 32px;
    width:167px;
}
.search-filter input{
    border: none;
    outline: none;
    width: 100%;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 300;
}
.search-filter .search-icon {
    font-size: 15px;
    color: #888;
    padding: 2px 5px;
}
.pagination-div,.limit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.pagination-div{
    margin: 10px 10px;
}
.limit .limit-txt{
    font-size: 12px;
    font-weight: 500;
    color: #8C8C9D;
    padding: 10px 5px;
}
.dropdown-container {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 23px;
}

.dropdown-container select {
    appearance: none; 
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 10px;
    color: #555;
    width: 100%;
    height: 23px;
    cursor: pointer;
    margin: 1px 5px;
    text-align: left;
    padding: 3px 5px;
}

.dropdown-container .arrow {
    position: absolute;
    top: 15px;
    right: 0px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #555;
    padding-left: 5px;
}
.dropdown button{
    border: none;
    background-color: transparent;
}
.dropdown-menu li a{
    font-size: 12px;
    font-weight: 400;
}

.alert button{
    position: relative;
    right: 0px;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
}