.list-heading{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 10px 3px 10px 20px;
}
.list-heading p{
    font-weight: 500;
    font-size: 14px;
    padding: 0px 0px;
    line-height: 5px;
    margin-bottom: 5px;
    color: #8C8C9D;
}
.list-heading .back-btn-div{
    position: relative;
}
.list-heading .back-btn-div button{
    border: none;
    width: 83px;
    height: 30px;
    padding: 2px 6px;
    font-weight: 500;
    font-size: 15px;
    background-color: #0d6efd;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
}
.list-heading span{
    color: #262626;
}
.list-heading h2{
    font-weight: 500;
    font-size: 20px;
}

.card{
    width: 1150px;
    margin: 10px 10px 10px 15px;
    border: 1px solid #E6EBF1;
    padding: 5px 5px 5px 10px;
}
.card form,.card .view-box{
    margin: 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
}
.card .view-box .view-input {
    margin-top: 2px;
}
.card .view-box .view-input p{
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
}
.card .view-box .view-value{
    width: 100%;
}
.card .view-box .view-value p{
    font-weight: 400;
    font-size: 13px;
}

.table-div{
    width: 1100px;
    height: auto;
    margin-left: 0px;
    overflow: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #0d6efd;
    border-radius: 10px;
}
table thead{
    width: 100%;
    height: 70px;
    background-color: #E6EBF1;
}
table thead th{
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 5px;
    text-align: center;
}
table,tbody{
    width: 100%;
}
table tbody td{
    font-weight: 300;
    font-size: 12px;
    height: 46px;
    padding: 2px 2px;
    text-align: center;
    border-bottom: 1px solid #E6EBF1;
}
.btn-back{
    width: 90px;
    height: 35px;
    border:none;
    border: 1px solid #A7A7A7;
    border-radius: 5px;
    color: #000;   
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
    margin-top: 20px;
}